.slider-logo {
    width: 300px;
    margin: 30px;
}

.slider-logo-collapsed {
    width: 25px;
    margin: 30px;
}

.ant-layout-sider-light .ant-layout-sider-trigger {
    width: 400px;
    background: #181A55;
    color: white;
}