#app {
	height: 100%;
	width: 100%;
	background-color: #f5f3f4;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.content {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: xx-large;
	padding: 100px;
	padding-top: 0;
	padding-bottom: 50px;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.banner {
	width: 1000px;
}

.footer {
	padding: 30px;
	color: white;
	background: #403e3e;
	font-size: 15px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-weight: bold;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.fa-copyright {
	font-size: 120px;
	padding-right: 20px;
}

.copyright-container {
	display: flex;
	flex-direction: row;
}

.autori > p {
	margin: 0px;
}

.fa-github {
	font-size: 120px;
	color: white;
}

.fa-github:hover {
	color: #171516;
}

.blur > * {
	filter: blur(2px);
	pointer-events: none;
	user-select: none;
}

.blur .no-blur {
	filter: none;
}

.no-blur {
	/* filter: blur(0); */
	pointer-events: all;
	user-select: all;
}

.hidden {
	visibility: hidden;
	pointer-events: none;
	user-select: none;
	z-index: -1;
}

.unscrollable {
    overflow: hidden;
}